Variables

In [1]:
a = 1     # 오른쪽에 있는 정보를 왼쪽에 있는 variable에 assign

In [2]:
print(a)

1

In [3]:
a = 2     # In [1]의 함수가 사라짐

In [4]:
print(a)

2

In [5]:
b = 'love'     # 문자를 assign할 때는 '' 사용

In [6]:
print(b)

love

In [7]:
love = 2     # ''가 없을 때, 문자는 variable

In [8]:
b = love

In [10]:
print(b)

2

In [12]:
a = 1
b = 2
b
c = 3
c     # 마지막에 쓴 변수를 print out

3

In [13]:
a = 1; b = 2; c = 3     # ;는 enter와 똑같은 역할

In [14]:
print(a); print(b); print(c)

1
2
3

In [15]:
a = [1, 2, 3, 5]

In [16]:
type(a)

list

In [17]:
a = 1

In [18]:
type(a)

int

In [19]:
a = 1.2

In [20]:
type(a)

float

In [21]:
a = 'love'

In [22]:
type(a)

str

In [23]:
a = [1, 2, 3, 5, 'love']

In [24]:
type(a)

list

In [25]:
a = [1, 'love', [1, 'bye']]

In [26]:
type(a)

list

In [27]:
a = (1, 'love', [1, 'bye'])

In [28]:
type(a)

tuple

In [29]:
a = {'a': 'apple', 'b': 'banana'}     # '표제어': '설명'

In [30]:
type(a)

dict

In [31]:
a = 1
b = 1
c = a + b

In [32]:
print(c)

2

In [33]:
a = [1, 2]
b = [3, 4]
c = a[0] + b[0]     # list에서 첫번째 항목은 [0], list에서 partial information을 가져올 때는 []사용

In [34]:
print(c)

4

In [35]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [37]:
print(a)

1.0

In [39]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [40]:
print(a)

1

In [44]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [45]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [47]:
a = [1, '2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [48]:
a = {"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])     #dict의 정보를 access할 때는 표제어를 index로 사용

<class 'dict'>
apple

In [49]:
a = {1: "apple", "b": "orange", "c": 2014}
print(type(a))
print(a[1])     #int도 dict의 표제어가 될 수 있음

<class 'dict'>
apple

In [50]:
a = [(1, 2, 3), (3, 8, 0)]
print(a[0])

(1, 2, 3)

In [52]:
type(a[0])

tuple

String

In [54]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])     # string의 첫번째 항목인 [0]을 기준으로 [-1]은 가장 마지막 항목
print(s[1:3], s[1:], s[:3], s[:])     #[a:b]는 a번째 항목부터 b번째 직전 항목까지

a f f a
bc bcdef abc abcdef

In [55]:
n = [100, 200, 300]     # 정보를 access하는 방법은 string과 비슷함
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [56]:
len(s)     # variable의 정보의 갯수

6

In [57]:
s[1] + s[3] + s[4:]*10

'bdefefefefefefefefefef'

In [58]:
s.upper()

'ABCDEF'

In [59]:
s = ' this is a house built this year.\n'

In [60]:
result = s.find('house')
result     # 11번째에서 시작함

11

In [61]:
result = s.find('this')
result     # 첫번째 this는 1번째에서 시작함

1

In [62]:
result = s.rindex('this')
result     # 마지막 this는 23번째에서 시작함

23

In [67]:
s = s.strip()
s     # 순수한 text만 남김

'this is a house built this year.'

In [68]:
tokens = s.split(' ')     # s를 ' (space)'를 기준으로 자름
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [69]:
s = ' '.join(tokens)     #' (space)'를 이용해서 tokens의 list를 붙임
s

'this is a house built this year.'

In [70]:
s = s.replace('this', 'that')     # 모든 'this'를 'that'으로 바꿈
s

'that is a house built that year.'

Syntax

In [71]:
a = [1, 2, 3, 4]
for i in a:     # a를 하나씩 돌려서 i에 할당함
    print(i)     #'for' loop에는 꼭 indent가 되어있어야함

1
2
3
4

In [73]:
a = [1, 2, 3, 4]
for i in range(len(a)):     #range(n)은 0부터 n-1까지의 list를 만듦
    print(a[i])

1
2
3
4

In [74]:
a = ['red', 'green', 'blue', 'purple']
print(a[0])
print(a[1])
print(a[2])
print(a[3])     # 항목의 개수가 많아지면 하나씩 print out을 할 수 없기 때문에 'for' loop 사용

red
green
blue
purple

In [75]:
a = ['red', 'green', 'blue', 'purple']
for s in a:
    print(s)

red
green
blue
purple

In [77]:
a = ['red', 'green', 'blue', 'purple']
for s in range(len(a)):
    print(a[s])

red
green
blue
purple

In [78]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for i, s in enumerate(a):     # enumerate
    print("{}: {}%".format(s, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [80]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for i, s in zip(a, b):
        print("{}: {}%".format(i, s*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [81]:
a = 0
if a == 0:     # =는 assign / ==는 =
    print('yay')

yay

In [82]:
a = 0
if a != 0:     #!=는 ≠
    print("yay")     #print out X

In [83]:
a = 0
if a == 0:
    print("yay")
    print("let's go")     #여러개 print out 가능

yay
let's go

In [84]:
a = 0
if a >= 0:
    print("yay")

yay

In [85]:
a = 0
if a != 0:
    print("yay")
else:     # if를 제외한 다른 경우
    print("no")

no

In [86]:
for i in range(1, 3):
    for j in range(3, 5):     # range(a, b)는 a부터 b-1까지
        print(i*j)     # 4번 loop

3
4
6
8

In [87]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >= 4:     # j가 4보다 같거나 큰 경우에만 실행
            print (i*j)     # 2번 loop

4
8

In [88]:
for i in range(1, 3):
    if i >= 3:
        for j in range(3, 5):
            print(i*j)     # 만족하는 조건이 없기 때문에 print out X